In [7]:
import requests
import bs4

my_header = {
    "referer" : "https://finance.naver.com/item/sise_day.naver?code=005930&page=1",
    "user-agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36"
}


r = requests.get(
    "https://finance.naver.com/item/sise_day.naver?code=005930&page=1", headers=my_header
    )
bs= bs4.BeautifulSoup(r.text, "lxml")
tr_elements= bs.select("table.type2 > tr[onMouseOut = 'mouseOut(this)']")

tot_data_list = []
for tr_element in tr_elements:
    data_list = []
    data= tr_element.select("td")
    for x in data:
    # print(x.text.strip())
        data_list.append(x.text.strip())
    tot_data_list.append(data_list)

In [8]:
tot_data_list

[['2021.10.08', '71,500', '100', '72,300', '72,400', '71,500', '13,969,443'],
 ['2021.10.07', '71,600', '300', '71,600', '72,100', '71,300', '13,683,532'],
 ['2021.10.06', '71,300', '900', '72,600', '72,800', '71,200', '18,956,962'],
 ['2021.10.05', '72,200', '1,000', '73,000', '73,000', '71,400', '24,013,921'],
 ['2021.10.01', '73,200', '900', '73,900', '74,000', '72,900', '15,803,395'],
 ['2021.09.30', '74,100', '0', '74,300', '74,800', '73,700', '19,919,361'],
 ['2021.09.29', '74,100', '2,200', '74,800', '75,300', '73,800', '23,992,458'],
 ['2021.09.28', '76,300', '1,400', '77,700', '77,800', '76,200', '15,406,382'],
 ['2021.09.27', '77,700', '400', '77,300', '77,700', '77,000', '11,699,798'],
 ['2021.09.24', '77,300', '100', '77,600', '77,700', '77,100', '12,247,274']]

In [9]:
import requests
import bs4
import time
import random

my_header = {
    "referer" : "https://finance.naver.com/item/sise_day.naver?code=005930&page=1",
    "user-agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.61 Safari/537.36"
}

tot_data_list = []
for page_number in range(1, 5):
    r = requests.get(
        "https://finance.naver.com/item/sise_day.naver?code=005930&page={}".format(page_number), headers=my_header
        )
    bs= bs4.BeautifulSoup(r.text, "lxml")
    tr_elements= bs.select("table.type2 > tr[onMouseOut = 'mouseOut(this)']")

    
    for tr_element in tr_elements:
        data_list = []
        data= tr_element.select("td")
        for x in data:
        # print(x.text.strip())
            data_list.append(x.text.strip())
        tot_data_list.append(data_list)
        
    time.sleep(1)

In [10]:
len(tot_data_list)

40

In [11]:
import pandas as pd
df = pd.DataFrame(tot_data_list, columns = ['날짜', '종가','전일비','시가','고가','저가','거래량'])

In [13]:
df

            날짜      종가    전일비      시가      고가      저가         거래량
0   2021.10.08  71,500    100  72,300  72,400  71,500  13,969,443
1   2021.10.07  71,600    300  71,600  72,100  71,300  13,683,532
2   2021.10.06  71,300    900  72,600  72,800  71,200  18,956,962
3   2021.10.05  72,200  1,000  73,000  73,000  71,400  24,013,921
4   2021.10.01  73,200    900  73,900  74,000  72,900  15,803,395
5   2021.09.30  74,100      0  74,300  74,800  73,700  19,919,361
6   2021.09.29  74,100  2,200  74,800  75,300  73,800  23,992,458
7   2021.09.28  76,300  1,400  77,700  77,800  76,200  15,406,382
8   2021.09.27  77,700    400  77,300  77,700  77,000  11,699,798
9   2021.09.24  77,300    100  77,600  77,700  77,100  12,247,274
10  2021.09.23  77,400    200  77,500  77,600  76,800  17,055,590
11  2021.09.17  77,200  1,100  76,300  77,200  75,900  16,289,502
12  2021.09.16  76,100    900  77,300  77,400  76,100  13,067,622
13  2021.09.15  77,000    400  77,400  77,400  76,400  12,829,128
14  2021.09.14  76,600    300  77,100  77,700  76,600  18,167,057
15  2021.09.13  76,300  1,000  75,200  76,300  75,100  11,397,775
16  2021.09.10  75,300      0  75,300  75,600  74,800  10,103,212
17  2021.09.09  75,300  1,000  76,400  76,600  75,000  17,600,770
18  2021.09.08  76,300    200  76,000  76,400  75,600  11,798,147
19  2021.09.07  76,100  1,200  77,100  77,100  75,900  13,239,401
20  2021.09.06  77,300    700  76,800  77,600  76,600  12,861,180
21  2021.09.03  76,600    600  76,400  76,700  76,000  12,096,419
22  2021.09.02  76,000    800  76,800  76,800  75,700  15,347,486
23  2021.09.01  76,800    100  76,700  77,100  75,900  16,114,775
24  2021.08.31  76,700  2,100  74,900  76,700  74,300  24,630,370
25  2021.08.30  74,600    300  75,400  75,500  74,200  12,686,999
26  2021.08.27  74,300    300  74,300  75,000  73,800  15,172,748
27  2021.08.26  74,600  1,100  76,100  76,200  74,600  16,671,494
28  2021.08.25  75,700    100  76,200  76,600  74,900  22,319,664
29  2021.08.24  75,600  2,300  73,900  75,700  73,900  21,016,913
30  2021.08.23  73,300    600  73,300  74,000  73,000  19,384,648
31  2021.08.20  72,700    400  73,500  73,900  72,500  22,364,803
32  2021.08.19  73,100    800  73,500  74,400  73,100  22,166,298
33  2021.08.18  73,900    300  73,900  74,600  73,100  29,192,631
34  2021.08.17  74,200    200  74,000  75,100  74,000  30,944,847
35  2021.08.13  74,400  2,600  75,800  76,000  74,100  61,270,643
36  2021.08.12  77,000  1,500  77,100  78,200  76,900  42,365,223
37  2021.08.11  78,500  1,700  79,600  79,800  78,500  30,241,137
38  2021.08.10  80,200  1,300  82,300  82,400  80,100  20,362,639
39  2021.08.09  81,500      0  81,500  82,300  80,900  15,522,581